fastapi[all]==0.108.0
fastapi-pagination==0.12.14
pydantic==2.5.3
pydantic_core==2.14.6
pydantic-settings==2.1.0
sqlmodel==0.0.16
typer==0.7.0
typing-extensions==4.8.0
psycopg2-binary==2.9.5
uvicorn
asyncpg
minio
python-multipart
#opentelemetry-sdk==1.22.0
#opentelemetry-api
#opentelemetry-instrumentation
#opentelemetry-exporter-jaeger
#opentelemetry-instrumentation-fastapi
#opentelemetry-propagator-b3
#opentelemetry-distro
#opentelemetry-instrumentation-requests
aio-pika==9.3.1
setuptools==70.0.0
#elastic-apm[fastapi]
jose
passlib
motor==3.3.2